
# =========================
# BUILD OUTPUT
# =========================
build/
dist/
out/
target/

# =========================
# NETBEANS
# =========================
nbproject/private/
nbproject/build-impl.xml

# =========================
# JAVA
# =========================
*.class

# =========================
# LOG FILES
# =========================
*.log

# =========================
# TEMP FILES
# =========================
*.tmp
*.swp
*.bak

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE SETTINGS
# =========================
.vscode/
.idea/

# =========================
# ARCHIVES
# =========================
*.jar
*.war
*.ear